.aside-bar{
    width: 250px;
    font-size: 26px;
    background-color: #051e34;
}



main{
    width: calc(100vw - 250px);
    height: calc(100vh - 70px);
}

.fa-code{
    width: 40px;
    height: 40px;

}

.my_pill{
    background-color: #0c60df;
}














/* media query opzionale per vedere come collassare elementi */

@media screen and (max-width:768px){

    .aside-bar{
        width: 80px;
    }
    main{
        width: calc(100vw - 80px);
    }

    label{
        display: none;
    }

}